<div class='container' style='margin-left:180px'>
  <div class='row justify-content-center'>
    <div class='col-sm-6'> <!-- Cambiado de col-sm-2 a col-sm-6 para que el formulario sea más ancho -->
      <form action='/admin/login' method='post'>
        <div class='mb-1'>
          <input
            type='text'
            class='form-control'
            id='inputUser'
            placeholder='Usuario'
            name='user'
          />
        </div>
        <div class='mb-1'>
          <input
            type='password'
            class='form-control'
            id='inputPassword'
            placeholder='Contraseña'
            name='password'
          />
        </div>
        <hr />
        <button type='submit' class='btn btn-primary btn-block'>Ingresar</button> <!-- Añadido btn-block para que el botón ocupe todo el ancho -->
      </form>
      {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
      {{/if}}
    </div>
  </div>
</div>
